.home-help{
    text-align: center;
}

.home-help .content{
    margin: 50rem;
    margin:0 auto;
}

.home-help .content h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(black);
}

.home-help .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
