.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none; 
}

#menu-btn.open {
    transform: rotate(180deg); 
}

.header .navbar a:hover {
    color: var(--main-color);
}

.language-switch {
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.language-switch button {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border: 2px solid var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.language-switch button:hover {
    background-color: var(--main-color);
    color: var(--white);
}
.nav-and-lang {
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: 0.2s linear;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
}
